img{
    border-radius: 50px;
    width: 150px;
}

#title_with_image{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: x-large;
}

h2{
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 10px;
}

body{
    background-color: rgb(96,34,52);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: pink;
    font-size: medium;
}

a{
    background-color: pink;
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: rgb(96,34,52);
}