img{
    border-radius: 50px;
    width: 100px;
}

h2{
    font-size: 18px;
}

body{
    background-color: rgb(96,34,52);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: pink;
}

a{
    background-color: pink;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: rgb(96,34,52);
}